<% title @video_list_name %>
<% keywords Global.video_keywords %>
<% head_desc "#{@video_list_desc},#{Global.video_head_desc}" %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <%@video_lists.each do |list|%>
          <li><a href="/video/list/<%=list.id%>"><%=list.name%></a></li>
        <%end%>
      </ul>
    </div>
    <div class="col-md-9">
      <%@video_lists.each do |list|%>
        <%next if @videos.select{|item| item.video_list_id == list.id}.size == 0%>
      <section id="list_head_<%=list.id%>">
        <h2><%=list.name%></h2>
        <div class="page-header">
          <p><%=@video_list_desc%></p>
        </div>
        <%@videos.select{|item| item.video_list_id == list.id}.each_with_index do |video,index|%>
          <div class="col-md-3">
          <div>
            <a href="/video/show/<%=video.id%>">
              <img src="<%=video.img_href%>" alt="<%=video.name%>" class="img-thumbnail img-responsive" width="120%" height="120%"/>
            </a>
          </div>
          <div>
            <a href="/video/show/<%=video.id%>"><%=video.name%></a>
          </div>
        </div>
        <%if (index > 0 && (index + 1) % 4 == 0) || index == @videos.size - 1 %>
          <div class="clearfix"></div>
        <%end%>
      <%end%>
      </section>
    <%end%>
    </div>
  </div>
  <%= render "common/related_search" %>
</div>
