<% title @video.name%>
<% keywords "#{Global.video_keywords}" %>
<% head_desc "#{@video.name}，#{Global.video_head_desc}"%>
<div class="container" style="padding-top:50px">
  <div class="row">
    <ul class="breadcrumb" style="margin-bottom:0">
      <li><a href="/"><%= Global.brand%></a> <span class="divider"></span></li>
      <li><a href="/video/list/<%=@video.video_list_id%>"><%=@video_lists.select{|item| item.id == @video.video_list_id}.first.name%></a> <span class="divider"></span></li>
      <li class="active"><%=@video.name%></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1 class="info_large"><%=@video.name%></h1>
      <embed src="<%=@video.src%>" type="application/x-shockwave-flash" allowfullscreen="true" allownetworking="all" allowscriptaccess="always" width="770" height="500"></embed>
    </div>
    <div class="col-md-4">
      <h2 class="info_large"> 相关视频 </h2>
      <% @related_videos.each do |r_video|%>
        <div class="row">
        <div class="col-md-6">
          <a href="/video/show/<%=r_video.id%>">
            <img src="<%=r_video.img_href%>" alt="<%=r_video.name%>" class="img-thumbnail img-responsive"  width="150%" height="150%"/>
          </a>
        </div>
        <div class="col-md-6">
          <div class="padding-top-5">
            <a href="/video/show/<%=r_video.id%>" title="<%=r_video.name%>">
              <%="#{r_video.name[0,25]}.."%>
            </a>
          </div>
          <div class="padding-top-10">
            <a href='/video/list#<%="list_head_#{r_video.video_list_id}"%>'><span class="glyphicon glyphicon-list"></span> <%=@video_lists.select{|item| item.id == r_video.video_list_id}.first.name%></a>
          </div>
          <div class="padding-top-10">
            <span style="margin:0 10px 0 0"><span class="glyphicon glyphicon-play"></span> <%=r_video.pv_sum%></span>
            <span style="margin:0 10px 0 0"><span class="glyphicon glyphicon-comment"></span> <%=[0,r_video.like_sum % 10 - 5].max%></span>
            <span style="margin:0 10px 0 0"><span class="glyphicon glyphicon-heart"></span> <%=r_video.like_sum%></span>
          </div>
        </div>
      </div>
    <%end%>
    </div>
  </div>
  <%= render "common/related_search"%>
</div>
